.CV {
  /* US Letter Size */
  width: 8.5in;
  height: 11in;
  margin: 30px auto;
  padding: 0.3in;
  box-sizing: border-box;
  background-color: white;
  color: rgb(27, 34, 88);
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: sticky;
  top: 15px;
}

::selection {
  background: rgb(27, 34, 88);
  color: white;
}

.CV p {
  font-weight: normal;
}

.CV h3 {
  font-weight: bold;
}

.CV header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  border-bottom: 5px solid rgb(27, 34, 88);
  padding-bottom: 20px;
}
.CV header div > h1 {
  font-weight: 800;
  text-transform: uppercase;
}
.CV header h2 {
  font-weight: bold;
  font-size: 1rem;
  margin-left: 5px;
  margin-top: 5px;
}

.CV header .contactInfo {
  display: flex;
  gap: 15px;
}

.CV main {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.CV main p {
  line-height: 1.5;
}

.CV main h2 {
  margin-bottom: 16px;
  font-size: 1.5rem;
}

.CV main .experience > div,
.CV main .education > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.CV main .experience > div > div,
.CV main .education > div > div {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 30px;
}

.CV main h3 {
  margin-bottom: 5px;
}
